@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100%;
  margin: 0;  
}

.body-home-page {
  background-color: #FAFAFA;
}

.body-sign-up-page {
  background-color: #FAFAFA;
}

.max-width-wrapper {
  min-height: 100%; 
  max-width: 1440px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
 } 

figure {
  margin: 0;
}

img {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
}

/**************************************************/
/* Header Section - Mobile First */
/**************************************************/
header {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.header-wrapper-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#header-circle {
  position: absolute;
  top: -170px;
  left: -42px;
  width: 458px;
  height: 458px;
}

#header-circle-sign-up {
  position: absolute;
  top: -170px;
  left: -42px;
  width: 458px;
  height: 458px;
}

.header-container-logo {
  margin-top: 46px;
}

#header-logo {
  width: 155px;
  height: 30px;
}

.header-wrapper-charts-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

#header-charts {
  width: 171px;
}

.header-container-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 38px 24px 10px 24px;
  text-align: center;
}

.header-container-content h1 {
  color: rgba(51, 57, 80, 1);
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
  text-shadow: -1px 4px 2px rgba(63, 91, 194, 0.2472);
}

.header-container-content p {
  color: rgba(116, 123, 149, 1);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 24px;
  text-shadow: -1px 4px 4px rgba(63, 91, 194, 0.2472);
}

.link-to-signup-page-header {
  color: rgba(255, 255, 255, 1);
  background-color: #5175FF;
  border: none;
  border-radius: 28px;
  box-shadow: 0px 7px 6px 0px rgba(63, 91, 194, 0.2472);
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 41px;
  padding-right: 41px;
  text-decoration: none;
}

.link-to-signup-page-header:hover {
  background-color: #829CFF;
}
/**************************************************/
/* Homepage - Card Section - Mobile */
/**************************************************/
/* This code is to allow for footer background color to extend
up behind this section of code */
.main-homepage {
  position: relative;
  z-index: 1;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 90px;
}

.card {
  border-radius: 13px;
  width: 327px;
  height: 508px;
  margin: 0;
  text-align: center;
}

.card-basic {
  color: #333950;
  background-color: #ffffff; 
}

.card-ultimate {
  color: #333950;
  background-color: #ffffff;
}

.card-pro {
  position: relative;
  background-color: #5175FF;
  color: rgba(255, 255, 255, 1); 
  overflow: hidden;
  margin-top: 32px;
  margin-bottom: 32px;
}

.card-pro figure {
  position: absolute;
  width: 880px;
  bottom: 7px;
  left: -275px;
}

.card-part-1 {
  margin-top: 40px;
}

.card h2 {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 0;
}

.cost {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  margin-top: 40px;
  margin-bottom: 0;
}

.num-users {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 8px;
}

.addl-info {
  color: rgba(116, 123, 149, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.addl-info-pro {
  color: rgba(255, 255, 255, 1);
}

.card-part-2 {
  margin-top: 56px;
  margin-left: 0;
  text-align: center;
}

.card-part-3 {
  margin-top: 45px;
}

.try-button  {
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  height: 56px;
  width: 171px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 43px;
  padding-right: 40px;
  border-radius: 28px;
  border: none;
  text-decoration: none;
}

.basic-button,
.ultimate-button {
  background-color: rgba(81, 117, 255, .1526);
  color: #5175FF;
}

.basic-button:hover,
.ultimate-button:hover {
  background-color: #D3DCFF;
}

.pro-button {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(81, 117, 255, 1);
}

.pro-button:hover{
  color: #829CFF;
}

/**************************************************/
/* Homepage - Countdown-Footer Section  - Mobile */
/**************************************************/
.countdown-section {
/* This portion brings the background-color behind the "main" element */
  position: relative;
  z-index: 0;
  margin-top: -800px;
  background-color: #25293A;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  overflow: hidden;
}

.countdown-circle-pattern-container {
  position: absolute;
  left: -415px;
  bottom: -110px;
  width: 1202px;
}

.countdown-container {
  position: relative;
  padding-top: 900px;
}

.countdown-container h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  text-align: center;
}

.span-countdown-date {
  color:rgba(81, 117, 255, 1);
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 50px;
  width: 328px;
}

.time-container div {
  background-color: #333950;
  width: 72px;
  height: 92px;
  border-radius: 4px;
}

.time-label {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  opacity: 0.5;
  margin: 0;
}

.time {
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  margin: 0;
  padding-top: 11px;
}

.countdown-button-container {
  position: relative;
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
}

.countdown-circle-pattern-container {
  overflow: hidden;
}

.link-to-signup-page-footer {
  color: rgba(255, 255, 255, 1);
  background-color: #5175FF;
  border: none;
  border-radius: 28px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 41px;
  padding-right: 41px;
  text-decoration: none;
}

.link-to-signup-page-footer:hover {
  background-color: #829CFF;
}
/**************************************************/
/* Sign-up Page Header Section - Mobile First */
/**************************************************/
.header-container-content-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 80px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
}

.header-container-content-sign-up h1 {
  position: relative;
  color: rgba(51, 57, 80, 1);
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px; 
}

.header-container-content-sign-up p {
  color: rgba(116, 123, 149, 1);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

/**************************************************/
/* Sign-up Page - Countdown Section  - Mobile */
/**************************************************/
.countdown-container-sign-up {
  padding-top: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.countdown-container-sign-up h2 {
  color: black;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 18px;
}

.span-countdown-date-sign-up {
  color:rgba(81, 117, 255, 1);
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.time-container-sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 64px;
  width: 328px;
}

.time-container-sign-up div {
  background-color: #E9EDFA;
  width: 72px;
  height: 92px;
  border-radius: 4px;
}

.time-label-sign-up {
  color: #979797;
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  opacity: 0.8;
}

.time-sign-up {
  color: #5175FF;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 0;
  padding-top: 11px;
}

.countdown-button-container-sign-up {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.countdown-start-button-sign-up {
  color: rgba(255, 255, 255, 1);
  background-color: #5175FF;
  border: none;
  border-radius: 28px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  width: 171px;
  height: 56px;
  margin-bottom: 100px;
}

/**************************************************/
/* Sign-up Page - Contact Section - Mobile */
/**************************************************/
/* First 2 properties, along with footer code allows for footer background color to extend
up behind this section of code */
.contact-wrapper {
  position: relative;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-container {
  align-items: center;
  background-color: #ffffff;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
}

.contact-form {
  align-items: stretch;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  width: 279px;
}

.contact-form input {
  min-width: 279px; 
  border: none;
  border-bottom: 1px solid rgba(116, 123, 149, .5);
  font-size: 16px;
  font-weight: 400;
  height: 44px;
  line-height: 28px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 24px;
  margin-left: 1px;
}

.contact-form input::placeholder {
  color: #747B95;
}

#formSelect {
  border: none;
  border-bottom: 1px solid rgba(116, 123, 149, .5);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  height: 44px;
  width: 279px; 
}

#form-email {
  margin-bottom: 24px;
}

#formSelect + .select2-container .select2-selection {
  border: none;
  color: #747B95;
  box-shadow: none;
  border-bottom: 1px solid rgba(116, 123, 149, .5);
  height: 44px;
  line-height: 28px;
  padding-top: 10px;
  padding-left: 9px;
  padding-right: 29px;
  margin-left: 1px;
}

/* first option - "free" wording */
.highlight {
  color: #747B95;
}

.submit-button {
  background-color: #5175FF;
  border: none;
  border-radius: 26px;
  color: #ffffff;
  font-size: 16px;
  height: 56px;
  line-height: 28px;
  width: 279px;
  margin-top: 40px;
  margin-bottom: 24px;
}

.submit-button:hover {
  background-color: #829CFF;
}
/**************************************************/
/* Sign-up Page - Footer Section - Mobile */
/**************************************************/
.signup-countdown-container {
/* Top 4 properties bring the background-color behind the element above it */
  position: relative; 
  z-index: 0;
  margin-top: -220px;
  min-height: 320px;
  background-color: #25293A;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.countdown-circle-pattern-container-sign-up {
  position: absolute;
  left: -55px;
  bottom: 0;
  width: 486px;
  height: 486px; 
}

/**************************************************/
/**************************************************/
/* Tablet Syles */
/**************************************************/
/**************************************************/

@media(min-width: 768px) {
/**************************************************/
/* Homepage Header Section - Tablet */
/**************************************************/
  header {
    display: block;
  }
  
  .header-wrapper-main {
    display: block;
  }

  #header-circle {
    position: absolute;
    top: -164px;
    left: 395px;
    width: 666px;
    height: 666px;
  }

  .header-container-logo {
    margin-top: 72px;
    margin-left: 39px;
  }
  
  .header-wrapper-charts-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    margin-top: 104px;
  }

  #header-charts {
    width: 330px;
    min-height: 100%;
  }

  .order-of-charts {
    order: 2;
    width: 50%;
    margin-left: 10px;
  }

  order-of-content {
    order: 1;
    width: 50%;
  }

  .header-container-content {
    display: flex;
    align-items: start;
    margin-top: 0;
    margin-left: 39px;
    margin-right: 30px;
  }

  .header-container-content h1 {
    text-align: left;
    text-shadow: none;
    width: 339px;
  }
  .header-container-content p {
    text-align: left;
    text-shadow: none;
    width: 345px;
  }
  
  .header-h1 span {
    display: block;
  }
/**************************************************/
/* Homepage - Card Section - Tablet */
/**************************************************/ 
.card-container {
  margin-top: 120px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 689px;
  height: 316px;
  text-align: left;
}

.card-part-1 {
  text-align: left;
  grid-column: 1;
  grid-row: 1;
  margin-left: 48px;
  margin-top: 48px;
}

.card-part-2 {
  text-align: left;
  grid-column: 2;
  grid-row: 1;
  margin-left: 48px;
  margin-top: 92px;
}

.card-part-3 {
  grid-column: 1;
  grid-row: 2;
  margin-top: 0;
  margin-left: 48px;
  margin-bottom: 48px;
  margin-top: -10px;
}

.cost {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  margin-top: 16px;
  margin-bottom: 0;
}

.num-users {
  margin-top: 4px;
  margin-bottom: 0;
}

.card-pro {
  margin-top: 24px;
  margin-bottom: 24px;
}

.card-pro figure {
  position: absolute;
  width: 880px;
  bottom: 0;
  left: -325px;
  top: -280px;
}

/**************************************************/
/* Homepage - Countdown-Footer Section - Tablet */
/**************************************************/
.countdown-section {
  margin-top: -500px;
}

.countdown-container {
  position: relative;
  padding-top: 640px;
}

.countdown-circle-pattern-container {
  position: absolute;
  left: -320px;
  bottom: -490px;
  width: 1454px;
}

.countdown-button-container {
  margin-bottom: 100px;
}

.time-container {
  margin-bottom: 48px;
  width: 448px;
}

.time-container div {
  width: 100px;
  height: 128px;
  border-radius: 13px;
}

.time {
  color: #ffffff;
  font-size: 56px;
  line-height: 48px;
  margin: 0;
  padding-top: 25px;
}

.time-label {
  font-size: 16px;
  margin: 0;
  margin-top: 8px;
}
/**************************************************/
/* Sign-up Page - Header Section - Tablet */
/**************************************************/
  #header-circle-sign-up {
    display: none;
  }

  .header-container-content-sign-up {
    margin-top: 104px;
    margin-left: 98px;
    margin-right: 98px;
  }

  .header-container-content-sign-up p {
    width: 572px;
  }

  .header-sign-up-span-2 {
    display: block;
  }
/**************************************************/
/* Sign-up Page - Contact Form Section - Tablet */
/**************************************************/
  .contact-container {
    width: 445px;
  }

  .contact-form {
    min-width: 360px;
  }
  
  .contact-form input {
    min-width: 360px; 
    height: 45px;
  }
  
  #formSelect {
    min-width: 360px; 
  }

  .submit-button {
    width: 360px;
    margin-bottom: 51px;
  }

/**************************************************/
/* Sign-up Page - Countdown Section - Tablet */
/**************************************************/
  .countdown-container-sign-up {
    padding-top: 40px;
  }

  .countdown-container-sign-up h2 {
    margin-bottom: 8px;
  }

  .time-container-sign-up {
    margin-bottom: 104px;
    width: 445px;
  }
 
  .time-container-sign-up div {
    border-radius: 13px;
    width: 100px;
    height: 128px;
  }

  .time-label-sign-up {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 5px;
  }
  
  .time-sign-up {
    font-size: 56px;
    line-height: 48px;
    margin-top: 17px;
  }

  .countdown-circle-pattern-container-sign-up {
    position: absolute;
    left: -350px;
    bottom: 430px;
    width: 1470px; 
  }

/**************************************************/
/* Sign-up page Footer - Tablet */
/**************************************************/
  .signup-countdown-container {
    margin-top: -245px;
    min-height: 380px;
  }
}

/**************************************************/
/**************************************************/
/* Desktop Syles */
/**************************************************/
/**************************************************/
@media(min-width: 1440px) {
/**************************************************/
/* Homepage Header Section - Desktop */
/**************************************************/    
  .max-width-wrapper-home-page {
    overflow: visible;
  } 

 .header-container-logo {
    margin-top: 81px;
    margin-left: 165px;
  }
  
  .header-wrapper-charts-content {
    margin-top: 174px;
  }

  .header-container-content {
    margin-left: 165px;
  }

  .header-container-charts {
    position: relative;
    min-height: 100%;
  }

  #header-charts {
    width: 475px;
    min-height: 100%;
    margin-right: 165px;
  }

  .order-of-charts {
    margin-left: 95px;
    margin-top: -60px;
  }
 
  #header-circle {
    position: absolute;
    top: -450px;
    left: 670px;
    width: 1134px;
    height: 1134px;
  }

  .header-container-content h1 {
    font-size: 56px;
    line-height: 64px;
    text-shadow: none;
    width: 540px;
  }
  
  .header-container-content p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
    text-shadow: none;
    width: 530px;
  }

  .header-h1 span {
    display: inline;
  }
/**************************************************/
/* Homepage Card Section - Desktop */
/**************************************************/  
  .card-container {
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 130px;
    margin-left: 165px;
    margin-right: 165px;
  }

  .card {
    width: 350px;
    height: 508px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-part-1 {
    margin-left: 0;
    margin-top: 40px;
    text-align: center;
  }

  .card-part-2 {
    margin-left: 0;
    margin-top: 56px;
    text-align: center;
  }

  .card-part-3 {
    margin-left: 0;
    margin-top: 46px;
    margin-bottom: 54px;
    text-align: center;
  }

  .cost {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    margin-top: 8px;
    margin-bottom: 0;
  }

  .addl-info {
    margin-top: 0;
  }

  .card-pro figure {
    left: -265px;
    top: -390px;
  }
/**************************************************/
/* Homepage - Countdown-Footer Section - Desktop */
/**************************************************/  
  .countdown-section {
    margin-top: -300px;
    min-height: 380px;
  }  

  .countdown-content-container {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    flex-direction: row;
    width: 1110px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 42px;
    margin-bottom: 51px;
  }

  .countdown-container,
  .countdown-button-container {
    padding-top: 0;
  }

  .countdown-image-wrapper {
    margin-top: 300px;
  }

  .time {
    font-size: 56px;
  }

  .time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 50px;
    width: 448px;
  }

  .time-container div {
    width: 100px;
    height: 128px;
  }

  .countdown-container h2 {
    text-align: left;
  }

  .countdown-circle-pattern-container {
    position: absolute;
    left: -705px;
    bottom: -800px;
    width: 2046px;
  }

  .countdown-button-container {
    margin-bottom: 0px;
  }
/**************************************************/
/* Sign-up Page - Header Section - Desktop */
/**************************************************/    
  .body-sign-up-page {
    background-color: #ffffff;
  }  

  .max-width-wrapper-sign-up {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .container-1-desktop-view {
    width: 1020px;
    padding-bottom: 150px;
  }

  .header-container-content-sign-up {
    margin-top: 154px;
    margin-left: 165px;
    margin-right: 0;
    width: 540px;
  }

  .header-container-content-sign-up h1 {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 24px;
    text-align: left;
  }

  .header-container-content-sign-up p {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }

  .header-sign-up-span-2 {
    display: inline;
  }

  .header-sign-up-span-1 {
    display: block;
  }
/**************************************************/
/* Sign-up Page - Main Section - Desktop */
/**************************************************/  
  .main-sign-up {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 165px;
    margin-right: -237px;
  }
 
  .contact-container {
    margin-top: -240px;
    box-shadow: 2px 20px 20px 5px rgb(78 84 103 / 25%);
  }

  .countdown-container-sign-up {
    display: block;
    padding-top: 40px;
  }

  .countdown-container-sign-up h2 {
    text-align: left;
  }
/**************************************************/
/* Sign-up Page - Countdown-Footer Section - Desktop */
/**************************************************/  
  .signup-countdown-container {
    width: 30%;
  }

  .countdown-circle-pattern-container-sign-up {
    position: absolute;
    left: -700px;
    bottom: 0;
    top: -480px;
    width: 1900px;
  }

/* Footer element on sign-up page */
  .container-2-desktop-view {
    width: 420px;
    padding-bottom: 150px;
  }
}