@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100%;
  margin: 0;   
}

.max-width-wrapper {
  min-height: 100%; 
  max-width: 1440px;
  /* Overflow: hidden hides the excess portions of the decorative elements so there isn't a 
  horizontal scrollbar, plus make sure margin is 0 so displays to the edge */
  overflow: hidden;
  margin: 0;
  
 } 

figure {
  margin: 0;
}

img {
  width: 100%;
}
/**************************************************/
/* Header Section - Mobile First */
/**************************************************/
/**************************************************/
/*  - Mobile */
/**************************************************/
.header-images-wrapper {
  position: relative;
  width: 375px;
  height: 348px;
  overflow: hidden;
}

#header-circle-container {
  position: absolute;
  top: -170px;
  left: -42px;
  width: 458px;
  height: 458px;
}

#header-logo-container {
  position: absolute;
  top: 46px;
  left: 110px;
  width: 155px;
  height: 30px;
}

#header-charts-container {
  position: absolute;
  top: 156px;
  left: 102px;
  width: 171px;
  height: 192px;
}

.header-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 64px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
}

.header-message-container h1 {
  color: rgba(51, 57, 80, 1);
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
}

.header-message-container p {
  color: rgba(116, 123, 149, 1);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 24px;
}

.header-message-container button {
  color: rgba(255, 255, 255, 1);
  background-color: #5175FF;
  border: none;
  box-shadow: 4px 4px 10px rgba(63, 91, 194, 0.2472);
  border-radius: 28px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  width: 171px;
  height: 56px;
}

/**************************************************/
/* Card Section - Mobile */
/**************************************************/
/* Start with the card-container position absolute
max-width wrapper position relative.  We need to allow
the footer background color to rise high behind the
card-container to follow the design comp */

/**************************************************/
/*  - Mobile */
/**************************************************/

/**************************************************/
/* Footer Section  - Mobile */
/**************************************************/




/**************************************************/
/**************************************************/
/* Tablet Syles */
/**************************************************/
/**************************************************/

@media(min-width: 768px) {
/**************************************************/
/* Header Section - Tablet */
/**************************************************/
   



}
/**************************************************/
/**************************************************/
/* Desktop Syles */
/**************************************************/
/**************************************************/
@media(min-width: 1440px) {
/**************************************************/
/* Header Section - Desktop */
/**************************************************/  
}