@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100%;
  margin: 0;   
}

.max-width-wrapper {
  background-color: #F2F2F2;
  min-height: 100%; 
  max-width: 1440px;
  /* Overflow: hidden hides the excess portions of the decorative elements so there isn't a 
  horizontal scrollbar, plus make sure margin is 0 so displays to the edge */
  overflow: hidden;
  margin: 0;
  
 } 

figure {
  margin: 0;
}

img {
  width: 100%;
}
/**************************************************/
/* Header Section - Mobile First */
/**************************************************/
header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-flow: column wrap;
    min-height: 100%;
}

.header-images-wrapper {
  display: flex;
  position: relative;
  width: 375px;
  /* height: 348px; */
  /* overflow: hidden; */
}

#header-circle-container {
  position: absolute;
  top: -170px;
  left: -42px;
  width: 458px;
  /* height: 458px; */
}

#header-logo-container {
  position: absolute;
  top: 46px;
  left: 110px;
  width: 155px;
  height: 30px;
}

.header-message-container {
  position: relative;
  margin-top: 155px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
}

.header-message-container h1 {
  color: rgba(51, 57, 80, 1);
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0;
}

.header-message-container p {
  color: rgba(116, 123, 149, 1);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 0;
}

/**************************************************/
/* Countdown Section  - Mobile */
/**************************************************/
.countdown-container {
    /* position: relative; */
    padding-top: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.countdown-container h2 {
    color: black;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 18px;
}

.span-countdown-date {
    color:rgba(81, 117, 255, 1);
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

.time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 40px;
    width: 328px;
}

.time-container div {
    background-color: #E9EDFA;
    width: 72px;
    height: 92px;
}

.time-label {
    color: #979797;
    font-size: 12px;
    font-weight: 700px;
    line-height: 28px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.time {
    color: #5175FF;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin: 0;
    padding-top: 11px;
}

.countdown-button-container {
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.countdown-start-button {
    color: rgba(255, 255, 255, 1);
    background-color: #5175FF;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    width: 171px;
    height: 56px;
    margin-bottom: 100px;
}
/**************************************************/
/* Contact Section - Mobile */
/**************************************************/
/* This code is to allow for footer background color to extend
up behind this section of code */
main {
    /* position: relative; 
    z-index: 1; */
  }

.contact-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-container {
  align-items: center;
  background-color: #ffffff;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  width: 327px;
}

.contact-form {
  align-items: stretch;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  min-width: 279px;
}

.contact-form input {
  border: none;
  border-bottom: 1px solid rgba(116, 123, 149, .5);
  font-size: 16px;
  font-weight: 400;
  height: 44px;
  line-height: 28px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 24px;
}

.contact-form input::placeholder {
  color: #747B95;
}

#formSelect {
  border: none;
  border-bottom: 1px solid rgba(116, 123, 149, .5);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  height: 44px;
}

#form-email {
margin-bottom: 24px;
}

#formSelect + .select2-container .select2-selection {
  border: none;
  color: #747B95;
  box-shadow: none;
  border-bottom: 1px solid rgba(116, 123, 149, .5);
  height: 44px;
  line-height: 28px;
  padding-top: 10px;
  padding-left: 9px;
  padding-right: 29px;
}

/* first option - "free" wording */
.highlight {
  color: #747B95;
}

.submit-button {
  background-color: #5175FF;
  border: none;
  border-radius: 26px;
  color: #ffffff;
  font-size: 16px;
  height: 56px;
  line-height: 28px;
  width: 279px;
  margin-top: 40px;
  margin-bottom: 24px;
}

/**************************************************/
/* Footer Section - Mobile */
/**************************************************/
footer {
/* This portion brings the background-color behind the "main" element */
    position: relative; 
    z-index: 0;
    /* margin-top: -320px; */
    background-color: #25293A;
    min-height: 320px;
    /* display: flex;
    align-items: center;
    flex-flow: column wrap;
    overflow: hidden; */
}

.countdown-circle-pattern-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 486px;
    height: 486px; 
    overflow: hidden;


}

/* For next time, begin with the form section */